node_modules/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
out.txt
err.txt
.DS_Store
.vscode/
.idea/
dist/
build/
.cache/
logs/
*.log
/.grunt
/.sass-cache
coverage/
tmp/
*.local